---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Fonts
//$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

// TypeKit fonts work on icsapo.github.io, but not on the local server.
$base-font-family: "calluna-sans", "Damion", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
//$base-font-family: "Damion";
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$post-title-font-size:          1.9rem;
$post-title-font-weight:        200;
$post-title-font-spacing:       1px;
$post-title-line-height:        1;

// Spacing
$spacing-unit:     30px;

// Colors
$text-color:                    #6a5c5e;
$background-color:              #fff;
$brand-color-red:               #c52d2f;
$brand-color-dark-gray:         #363841;
$header-color:                  darken($text-color, 0%); 
$link-color:                    $brand-color-red;

$grey-color:            #828282;
$grey-color-light-40:   lighten($grey-color, 40%);
$grey-color-light-20:   lighten($grey-color, 20%);
$grey-color-dark:       darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "footer",
        "layout",
        "post",
        "syntax-highlighting"
;
